@import 'variables';

.tableWrapper {
  max-width: 1100px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0;
}
.headerWithFilter {
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tableHeader {
  height: 50px;
  background-color: $main;
  color: white;
}

.header {
  cursor: pointer;
}

.columns {
  border: 1px solid #e3e6ec;
  color: #474955;
  padding: 10px 10px;
}

.columnsNumber {
  text-align: center;
}

.target {
  font-size: 11px;
  max-width: 700px;
}

.sortImage {
  width: 20px;
  margin-left: 10px;
  pointer-events: none;
}

.copyButton {
  padding: 10px;
  background-color: $main;
  color: white;
  border-radius: 15px;
  transition: 0.3s;
  &:hover {
    background-color: $hover;
  }
}

.shortLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
